/* Standard klasser */
a {
  text-decoration: none;
  color: black;
}

/* Felles Klasser */
.material-symbols-outlined {
  font-size: 30px;
}
/* Navigasjonslinjen */
.nav__font {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.nav__linje {
  width: 100% - 24px;
  height: 96px;
  padding: 0 24px;
}
.nav__div {
  width: inherit;
  height: inherit;
  padding: 0 10%;
}
.over__nav {
  width: inherit;
  height: 50%;
  background-color: white;
}
.nedre__nav {
  width: inherit;
  height: 50%;
  background-color: white;
}
.flex__nav {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: inherit;
  background-color: black;
}
/* Innhold oppe til venstre */
.venstre__ovre__nav {
  width: 33.33333333333333333333%;
  height: inherit;
  background-color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}
.venstre__ovre__nav ul {
  width: 100%;
}
.dame,
.herre,
.barn {
  display: flex;
  display: inline;
  margin-right: 2%;
}
.velgKjonn {
  padding: 6px 18px;
}
.velgKjonn:hover {
  background: rgba(26, 26, 26, 0.15);
}

/* Innhold oppe i midten */
.midten__ovre__nav {
  width: 33.33333333333333333334%;
  height: inherit;
  background-color: white;
}
.logo {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logo__link img {
  width: auto;
  height: 48px;
}

/* Innhold oppe til høyre */
.hoyre__ovre__nav {
  width: 33.33333333333333333333%;
  height: inherit;
  background-color: white;
}
.icons__holder {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5%;
}
/* Innhold nede til venstre */
.venstre__nedre__nav {
  height: 100%;
  width: calc(55% + 1rem);
  background-color: coral;
}

/* Innhold nede til høyre */
.hoyre__nedre__nav {
  height: 100%;
  width: 45%;
  background-color: crimson;
}
